# Data.gov.in AGMARKNET API Key
DATA_GOV_IN_API_KEY=579b464db66ec23bdd000001bfc26d4fc3a342305a91060e6195cab1


# IMD Weather API Key / Config (Optional fallback endpoints)
IMD_API_KEY=

# Server Configuration
PORT=8000
HOST=127.0.0.1
